
langchain==0.2.12
langchain-core==0.2.27
langchain-community==0.2.11
langchain-groq==0.1.4

sentence-transformers==2.6.1
huggingface-hub==0.23.1
faiss-cpu==1.8.0.post1

python-dotenv==1.0.1
requests==2.32.3
numpy==1.26.4
tqdm==4.66.4
